# User-specific file type
*.pdf
*.docx
*.exe
*.hwp

# User-specific folder name
**/superseded/**
**/Datasets_for_ch7/**
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

4_Data_mining/출석수업 과제물,데이터마이닝, 202035-368047,2022.docx
*.zip
*.pptx
*.csv
*.dat
*.Rproj
*.html
(붙임*.*